/* App base styles */

@import url('https://use.typekit.net/fsd6htq.css');
@import './normalize.css';

body {
    /* Default to futura-pt for text elements */
    font-family: futura-pt, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 468px){
    body {
        font-size: 14px;
    }
}

p {
    /* Standard MTFP serif font for any block text copy */
    font-family: utopia-std, Georgia, Garamond, "Times New Roman", serif;
    font-size: 18px;
    color: rgb(17, 17, 17);
    /* font-size: 18px; */
    line-height: 1.5em;
    font-weight: 400;
}
@media screen and (max-width: 468px){
    p {
        font-size: 16px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family:  futura-pt, Arial, Helvetica, sans-serif;
    font-weight: 700;
}
h4 {
    margin-bottom: 0.5em;
}
@media screen and (max-width: 468px){
    h1 {
        font-size: 1.3em;
    }
    h3 {
        font-size: 1.2em;
    }
    
}
.text {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.note {
    /* Deliberate choice to not use future-pt here*/
    font-size: 0.9em;
    line-height: 1.2em;
    font-style: italic;
    color: #666;
    margin-bottom: 0.5em;
    margin-top: 0.3em;
}

button {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    border: none;
    background-color: #eee;
    border: 1px solid #666;
    text-transform: uppercase;
    color: #222;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.1em;
    /* margin-right: 0.2rem; */
    /* border-radius: 0.25rem; */
}

button:hover {
    background-color: #222;
    border: 1px solid #222;
    color: white;
}

a {
    /* color: #2800d7; */
    color: #ce5a00;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a.button-link:hover {
    text-decoration: none;
}

hr {
    border-top: 1px solid #666;
    height: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

img {
    margin-bottom: 0; /* overwrites default */
}

table {
    border-collapse: collapse; 
    
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

    
}
@media screen and (max-width: 468px) {
    table {
        font-size: 11px;
    }
}

th {
    text-align: left;
}

hr {
    border-top: 1px solid  #ae9864;
    border-bottom: none;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}