/* App base styles */

@import url('https://use.typekit.net/fsd6htq.css');
@import './normalize.css';

/* Colors */
:root {
    --link: #ce5a00;

    --gray1: #e8e8e8;
    --gray2: #c1c1c1;
    --gray3: #808080;
    --gray4: #606060;
    --gray5: #404040;
    --gray6: #202020;
    --gray7: #000000;

    --tan1: #eae3da;
    --tan2: #e0d4b8;
    --tan3: #cebc9f;
    --tan4: #ae9864;
    --tan5: #806f47;
    --tan6: #473d29;
    --tan7: #171818;

    /* party/outcome colors handled via different system */
}


body {
    /* Default to futura-pt for text elements */
    font-family: futura-pt, Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

@media screen and (max-width: 468px){
    body {
        font-size: 14px;
    }
}

p {
    /* Standard MTFP serif font for any block text copy */
    font-family: utopia-std, Georgia, Garamond, "Times New Roman", serif;
    font-size: 18px;
    color: rgb(17, 17, 17);
    /* font-size: 18px; */
    line-height: 1.5em;
    font-weight: 400;
}
@media screen and (max-width: 468px){
    p {
        font-size: 16px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family:  futura-pt, Arial, Helvetica, sans-serif;
    font-weight: 700;
}
h3 {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
}
h4 {
    margin-bottom: 0.5em;
    color: var(--tan5);
}
@media screen and (max-width: 468px){
    h1 {
        font-size: 1.3em;
    }
    h3 {
        font-size: 1.2em;
    }
    
}
.text {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.note {
    /* Deliberate choice to not use future-pt here*/
    font-size: 0.9em;
    line-height: 1.2em;
    font-style: italic;
    color: var(--gray4);
    margin-bottom: 0.5em;
    margin-top: 0.3em;
}

button {
    display: inline-block;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    border: none;
    background-color: var(--gray2);
    border: 1px solid var(--gray4);
    text-transform: uppercase;
    color: #222;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    cursor: pointer;
    letter-spacing: 0.1em;
    /* margin-right: 0.2rem; */
    /* border-radius: 0.25rem; */
}

button:hover {
    background-color: var(--gray6);
    border: 1px solid var(--gray6);
    color: white;
}

a {
    color: var(--link);
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a.button-link:hover {
    text-decoration: none;
}

hr {
    border-top: 1px solid var(--gray4);
    height: 0;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

img {
    margin-bottom: 0; /* overwrites default */
}

table {
    border-collapse: collapse; 
    font-size: 14px;   
}
@media screen and (max-width: 468px) {
    table {
        font-size: 13px;
    }
}

th {
    text-align: left;
}

hr {
    border-top: 1px solid var(--tan4);
    border-bottom: none;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

input {
    font-size: 16px; /* Necessary to avoid zooming bug on iOS */
}